.page {
    min-height: 100vh;
    padding: 15px;
}

.content {
    width: 100%;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .content {
        width: 738px;
        margin: auto;
    }
}
